{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="shake" style="
    text-align: center;
    /* font-size: 40%; */
    margin-top: 20%;">

    <a class="btn btn-secondary" href="/stock" style="
    /* text-align: center; */
    font-size: 55px;
    border-radius: 50% 20% / 10% 40%;
    "><b> GÉRER LES ÉQUIPEMENTS ! </b></a>
{% endblock %}
