{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
<div class="container">
   <div class="row blog">
     <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#blogCarousel" data-slide-to="1"></li>
            </ol>

                        <!-- Carousel items -->

          <h1 style="text-align: center;"> <b> DESCRIPTION DES PRODUITS </b> </h1> <br> <br>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img src="/img/412792.png/250x250" alt="Image" style="max-width:100%;">
                              <h1 style="color: black;text-align: center;">PLOT <br> (marionnaud)</h1>
                              <h4 style="color:black;"> 28€ </h4>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                        </a>
                    </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/gilet-neon.jpg/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">CHASUBLE <br>(huit clos)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 10€ </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/—Pngtree—soccer wall crack_3553760.png/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">BALLON <br>(guicci)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 40€ </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/kisspng-tin-whistle-clip-art-whistle-5ac5e818064882.1628168915229194480257.jpg/250X250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">SIFLET <br>(GO sport)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 50€ </h4>
                            </a>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/kisspng-adidas-shorts-kit-football-sport-short-5b1a2339246597.4021913715284396091491.jpg/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">MAILLOT <br>(Nike)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 75€ </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/—Pngtree—nba jerseys_2325689.png/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">SHORT <br>(Adidas)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="black:white;"> 222€ </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/kisspng-plot-sports-training-horse-polyethylene-plot-5b22411b6b4446.4597000015289715474394.png/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">MINI PLOT BIZZARE <br>(Zara)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 8€ </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#">
                                <img src="/img/6868101.png/250x250" alt="Image" style="max-width:100%;">
                            <h1 style="color: black;text-align: center;">BARRE <br>(LVMH)</h1>
                            <p style="color: black;">Conçu pour le balisage de vos terrains de jeux et entraînements sportifs.</p>
                             <h4 style="color:black;"> 5€ </h4>
                            </a>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
            </div>
            <!--.carousel-inner-->
          </div>
          <!--.Carousel-->
          </div>
          </div>
          </div>

             
  
<!--slide end--> 

{% endblock %}